[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	r = reset
	ll = log --pretty=oneline
[color]
	ui = true
[user]
	name = zhangfengming
	email = zhangfengming@baidu.com
[push]
	default = upstream
[core]
	editor = nvim
	excludesfile = 
	ignorecase = false
[merge]
	tool = vimdiff
[http]
	# proxy = http://127.0.0.1:18080
