[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	r = reset
	ll = log --pretty=oneline
[color]
	ui = true
[user]
	name = HalFtaN
	email = half.a.tan@gmail.com
[push]
	default = upstream
[core]
	editor = nvim
	excludesfile = 
	ignorecase = false
[merge]
  tool = nvim
[mergetool]
  prompt = true
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
[difftool]
  prompt = false
[diff]
  tool = vimdiff
[http]
	# proxy = http://127.0.0.1:18080
[pager]
	branch = false
