set ignorecase
set smartcase
set relativenumber
set surround
set clipboard+=unnamed

imap jk <C-[>l
let mapleader = " "
nmap <Leader>fs :w<cr>
nmap <Leader>q :q<cr>
nmap <Leader>/ :nohlsearch<cr>
nmap <Leader>w <C-w>
nmap L gt
nmap H gT
