snippet hbs "Handlebars template" b
<script type="text/x-handlebars" data-template-name="${1:index}">
	${2}
</script>
endsnippet

snippet linkto "Handlebars link-to primitive"
{{#link-to '${1:route}'}}${2:`!p snip.rv = t[1].capitalize()`}{{/link-to}}
endsnippet

# vim:ft=snippets:
